<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>157558331542-k1psb204dun6spa31gb21fhirg6crlcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157558331542-k1psb204dun6spa31gb21fhirg6crlcl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-W4egUgUbrUVbJ8grxfxzNeH91WmSgnY</string>
	<key>GCM_SENDER_ID</key>
	<string>157558331542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kun.delik.ios</string>
	<key>PROJECT_ID</key>
	<string>kundelik-260ec</string>
	<key>STORAGE_BUCKET</key>
	<string>kundelik-260ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157558331542:ios:2c2170cd8ed334ad</string>
	<key>DATABASE_URL</key>
	<string>https://kundelik-260ec.firebaseio.com</string>
</dict>
</plist>